* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
}

.header {
  margin-top: -10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  margin-top: 10px;
  padding: 10px;
}

.desktop {
  display: none;
  justify-content: space-between;
  background-color: #fff;
  margin-top: 10px;
  padding: 10px;
}

.desktop-menu-items {
  display: flex;
  list-style: none;
  margin-right: 100px;
}

.d-menu {
  padding: 15px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
}

.header-logo {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
  line-height: 20px;
  margin-top: 20px;
  padding: 3px 5px;
}

.menu-icon {
  height: auto;
  padding: 3px 5px;
}

.main-content {
  display: flex;
  justify-content: center;
  background-image: url(images/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 100px;
  background-color: #fff;
  height: 718px;
}

.headline-title {
  font-family: Poppins, sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-top: 100px;
  align-items: center;
  letter-spacing: 0.37px;
  color: #091e42;
  line-height: 60px;
  margin-left: 12px;
  width: 80%;
}

.headline-content {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #344563;
  margin-left: 12px;
  text-align: justify;
  margin-right: 12px;
  margin-top: 10px;
}

.social-title {
  margin-left: 15px;
  margin-top: 18px;
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.social-links {
  display: flex;
  list-style: none;
  margin-top: 12px;
}

.headline-social-links {
  display: flex;
  list-style: none;
  margin-top: 12px;
}

.headline-social-title {
  margin-left: 15px;
  margin-top: 18px;
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.social-link {
  margin-left: 15px;
}

.social-link a {
  width: 18px;
  margin-top: 10px;
  margin-right: 15px;
}

.social-link:hover {
  transform: rotate(360deg);
  transition: 0.5s;
}

.header-logo:hover {
  transform: rotate(360deg);
  transition: 1s all;
}

.work-section {
  background-color: #e5e5e5;
  display: grid;
  grid-template-columns: 1fr;
  padding: 15px;
}

.work-border {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 80px;
  align-items: center;
  padding: 16px;
  gap: 12px;
  background: #fff;
  border: 1px solid #def1e6;
  border-radius: 16px;
  width: 100%;
}

.portfolio-img {
  width: 100%;
  border-radius: 8px;
}

.portfolio-img:hover {
  transform: scale(1.1);
  transition: all 1s;
}

.project-name {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-top: 10px;
}

.project-details {
  display: flex;
  align-items: center;
  margin-top: 15px;
  gap: 5px;
}

.project-owner {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  margin-right: 15px;
}

.play-role {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.year {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.project-description {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  width: 295;
  height: 76px;
  line-height: 24px;
  color: #344563;
  margin-top: 15px;
}

.p-languages {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin-top: 10px;
  gap: 5px;
}

.language {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border: 10px;
  border-radius: 8px;
  padding: 4px 12px;
  height: 24px;
}

.button {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #396df2;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.button:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  color: #fff;
  transform: translate(5px, 0);
  transition: 0.5s all;
}

.work-border-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  padding: 16px;
  gap: 12px;
  width: 100%;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.about-details {
  background-color: #fff;
  border-top-right-radius: 50px;
  width: 100%;
  height: auto;
}

.about-header {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-left: 15px;
  padding-top: 120px;
}

.about-content {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-left: 15px;
  margin-top: 20px;
}

.resume-buton {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #396df2;
  padding: 10px;
  margin-top: 20px;
  margin-left: 15px;
  cursor: pointer;
}

.resume-buton:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  color: #fff;
  transform: translate(5px, 0);
  transition: 0.5s all;
}

.progrmming-skill {
  background-color: #fff;
  width: 100%;
  height: 520px;
}

.programming-tools {
  display: grid;
  grid-template-columns: 1fr;
}

.tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  margin-right: 25px;
}

.tab-caption-language {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-top: 30px;
}

.downarrow {
  margin-top: 30px;
  padding-bottom: 10px;
}

.programming-language-name {
  display: grid;
  gap: 2px;
}

.language-name {
  display: flex;
  align-items: flex-start;
  background: #f7f7f9;
  border-radius: 8px;
  height: 66.72px;
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
}

.language-image {
  margin-top: 8px;
  margin-left: 8px;
}

.language-text {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-top: 22px;
  margin-left: 15px;
}

.tab-caption-framework {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-top: 30px;
  padding-bottom: 20px;
}

.tab-framework {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px #dfe1e6;
  margin-left: 15px;
  margin-right: 30px;
}

.tab-caption-skill {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-top: 30px;
  padding-bottom: 15px;
}

.tab-skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px #dfe1e6;
  margin-left: 15px;
  margin-right: 30px;
}

.contact-form {
  width: 100%;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #6070ff;
  background-image: url(images/contact\ form-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 80px;
}

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-me-title {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  text-align: center;
  margin-top: 140px;
  margin-right: 10px;
}

.contact-description {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-left: 10px;
  margin-top: 10px;
}

.contact-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-name {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background: #fff;
  padding: 8px;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 90%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
}

#email {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background: #fff;
  padding: 8px;
  margin-bottom: 20px;
  width: 90%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
}

#textarea {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background: #fff;
  padding: 10px;
  margin-bottom: 15px;
  min-height: 170px;
  width: 90%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
}

.contact-form-buton {
  width: 120px;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #396df2;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #396df2;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: -165px;
  cursor: pointer;
}

.contact-form-buton:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  color: #fff;
  transform: translate(5px, 0);
  transition: 0.5s all;
}

@media only screen and (min-width: 768px) {
  .desktop {
    display: flex;
  }

  .menu-icon {
    display: none;
  }

  .header-logo {
    margin-left: 100px;
  }

  .headline {
    margin-top: 150px;
    margin-left: 200px;
    margin-right: 200px;
  }

  .headline-title {
    width: 95%;
    margin-left: -70px;
  }

  .headline-content {
    margin-left: -70px;
  }

  .main-content {
    background-image: url(images/Header\ bg.png);
    background-repeat: no-repeat;
    background-size: calc(100%);
    height: 1000px;
  }

  .headline-social-title {
    margin-left: -70px;
    margin-top: 18px;
    color: #7f8cff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  .headline-social-links {
    display: flex;
    list-style: none;
    margin-top: 12px;
    margin-left: -90px;
  }

  .work-border {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    height: 70%;
    margin-left: 45px;
  }

  .portfolio-img {
    width: 90%;
    height: 90%;
    border-radius: 8px;
  }

  .project-description {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    width: 295;
    height: 76px;
    line-height: 24px;
    color: #344563;
    margin-top: 10px;
  }

  .project-name {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .work-border-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    height: 70%;
    margin-left: 45px;
    margin-top: 100px;
  }

  .reverse-portfolio {
    order: -1;
  }

  .about-myself {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    width: 100%;
    background-color: #fff;
    padding-bottom: 50px;
    margin-top: 75px;
    border-top-right-radius: 80px;
  }

  .about-details {
    width: 100%;
    border-top-right-radius: 0;
    margin-top: 50px;
    margin-left: 10px;
  }

  .about-header {
    margin-left: 90px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .about-content {
    margin-left: 90px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .social-title {
    margin-left: 100px;
  }

  .social-links {
    margin-left: 85px;
  }

  .resume-buton {
    margin-left: 93px;
  }

  .progrmming-skill {
    width: 80%;
    margin-left: -20px;
    margin-top: 142px;
  }

  .programming-language-name {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
  }

  .language-name {
    display: flex;
    flex-direction: column;
    width: 122px;
    height: 120px;
    margin-left: 0;
    margin-right: 0;
  }

  .project-details {
    margin-top: 5px;
  }

  .project-owner {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
  }

  .play-role {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
  }

  .year {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
  }

  .p-languages {
    margin-top: -16px;
    gap: 4px;
  }

  .tab {
    margin-right: -55px;
  }

  .tab-framework {
    margin-right: -45px;
  }

  .tab-skills {
    margin-right: -45px;
  }

  .contact-form {
    background-image: url(images/desktop-contact-form-shapes.png);
    border-top-left-radius: 80px;
    background-size: contain;
  }

  #contact-name {
    border: 1px solid #cfd8dc;
    border-radius: 0;
    background: #fff;
    padding: 8px;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 35%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #172b4d;
  }

  #email {
    border: 1px solid #cfd8dc;
    border-radius: 0;
    background: #fff;
    padding: 8px;
    margin-bottom: 20px;
    width: 35%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #172b4d;
  }

  #textarea {
    border: 1px solid #cfd8dc;
    border-radius: 0;
    background: #fff;
    padding: 10px;
    margin-bottom: 15px;
    min-height: 100px;
    width: 35%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #b3bac5;
  }

  .contact-description {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
    width: 50%;
  }

  .contact-form-buton {
    width: 120px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #396df2;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #396df2;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    cursor: pointer;
  }
}
